// Brand Colors
$color-primary: #D4AF37;   // Primary
$color-secondary: #1A1A1A; // Secondary
$color-accent: #FDFDFD;    // Accent
$color-highlight: #4c4c4c; // Highlight

// You can also set typography or spacing vars here
$font-primary: 'Poppins', sans-serif;
