.App{
    height: 100%;
    position: relative;
    z-index: 0;
}
#particles{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.navbar{
    position: sticky;
    z-index: 1;
}

