@use '../../styles/styles' as *;


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: $color-accent;

  .logo {
    display: flex;
    align-items: center;

    .logo-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;

      .logo-img {
        width: 60px;
        height: auto;
        transition: transform 0.3s ease;
      }

      .brand-name {
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1px;
      }

      &:hover .logo-img {
        transform: rotate(-10deg) scale(1.05);
      }
    }
  }
  .nav-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li a{
      text-decoration: none;
      color: $color-highlight;
      font-width: 500;
      transition: color 0.3s ease;
      &:hover{
        color: $color-primary;
        scale:1.1;

      }
      &:active{
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
        padding-bottom: 2px;
      }
    }
  }
  .bookings{
    background: $color-primary;
    padding: 10px;
    border-radius: 10px;
    & a{
      text-decoration: none;
      color: $color-accent;
    }
    &:hover{
      scale:1.1;

    }
  }
}