@import "../../styles/styles";

.footer {
  background-color: $color-secondary;
  color: $color-accent;
  font-family: $font-primary;
  padding: 3rem 2rem 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 10px;

    .section {
      flex: 1;

      h3 {
        color: $color-primary;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        &:hover {
          color: $color-highlight;
        }
      }

      ul {
        padding: 0;

        li {
          margin: 8px 0;

          a {
            color: $color-accent;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }

      p {
        margin: 8px 0;
      }

      .socials {
        display: flex;
        gap: 1rem;
        margin-top: 10px;

        a {
          color: $color-primary;
          font-size: 1.5rem;
          transition: transform 0.3s ease, color 0.3s ease;

          &:hover {
            color: $color-accent;
            transform: scale(1.2) rotate(8deg);
          }
        }
      }
    }
  }

  .bottom {
    border-top: 1px solid $color-highlight;
    padding-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: $color-highlight;
  }

  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;

    .container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;

      .section {
        width: 100%;
        text-align: left;

        ul {
          display: flex;
          flex-direction: column;
        }

        .socials {
          justify-content: flex-start;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 1.5rem 1rem;

    .container {
      gap: 1rem;

      .section {
        h3 {
          font-size: 1rem;
        }

        ul li {
          margin: 5px 0;
        }

        .socials a {
          font-size: 1.3rem;
        }
      }
    }

    .bottom {
      font-size: 0.8rem;
    }
  }
}
